@charset "UTF-8";
/* CSS Document */
#FullMenu #menu-3174772,
#FullMenu #menu-3174773,
#FullMenu #menu-3174774 {
	display: none;
}
#BrunchMenu #menu-3174771,
#BrunchMenu #menu-3174773,
#BrunchMenu #menu-3174774 {
	display: none;
}
#KidsMenu #menu-3174771,
#KidsMenu #menu-3174772,
#KidsMenu #menu-3174774 {
	display: none;
}
#DessertMenu #menu-3174771,
#DessertMenu #menu-3174772,
#DessertMenu #menu-3174773 {
	display: none;
}
.category_root {
	padding-bottom: 20px;
}
.category_footnote {
	display: none;
}
.tabgrouping .category_root legend {
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	background-color: #F3F3F3;
}
.category_sections {
	text-align: left;
}
.category_sections p.small {
	font-size: 12px;
	font-style: italic;
}
.tabgrouping .category_sections ul {
	list-style: none;
	padding: 10px 0px 0px 0px;
}
.tabgrouping .category_sections h3 {
	font-size: 18px;
	color: #477C31;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family:Lato,sans-serif!important;
	font-weight:700;
}
.tabgrouping .category_sections h3::after {
	display: block;
	content: '';
	margin-top: 5px;
	border-bottom: 1px solid #cbcbcb;
}
.tabgrouping .category_sections .section_items li{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}
@media (max-width: 480px) {
	.tabgrouping .category_sections .section_items li{
		width: 100%;
	}
}
img#seasonal-img {
	width: 15px;
	height: 15px;
	margin-left: -17px;
	margin-top: 7px;
    float: left;
}
.tabgrouping .category_sections .item_container {
	display: -webkit-box;
}
.tabgrouping .category_sections .item_name {
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	margin-bottom: 0px;
}
.tabgrouping .category_sections .item_description {
	font-style: italic;
	font-size: 12px;
	margin-bottom: 10px;
}
.tabgrouping .category_sections .item_description {
	margin-top: 0px;
}
.tabgrouping .category_sections .item_diet {
	font-size: 12px;
	line-height: 30px;
	font-style: normal;
	color: #477C31;
}
.tabgrouping .category_sections > div {
	display: inline-grid;
	float: none;
}
.category_footnote p {
	font-size: 10px;
	line-height: 14px;
}
.tablist li {
	float: left;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 19%;
	font-size: 18px;
}
@media (max-width: 480px) {
	.tablist li {
		width: 50%;
		font-size: 14px;
	}
}
.tablist li.inactive {
	-webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);
}
.tablist li.active {
	font-weight: 600;
	letter-spacing: 2px;
	padding: 0;
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.tablist li::after {
	display: block;
	content: '';
	width: 50%;
	margin: 0 auto;
	border-bottom: 2px solid #F6D93C;
}
@media (max-width: 480px) {
	.tablist li::after {
		width: 100%;
	}
}
.tabgrouping {
	clear: none;
	display: inline-block;
	padding: 30px 0px 0px;
}
.tabpanel fieldset {
	border: none;
}